<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Home</title>
    <style>
        .box{
            align-items: center;
            position: absolute;
            justify-content: center;
            flex-direction: column;
            top : 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <!-- <h1>Hello</h1> -->
    <div class="container ">
        <h2 class="mt-4">QR CODE GENERATOR</h2> 
        <!-- <h2>Your QR Scanner for <%= title %> is generated</h2> -->
    </div>
    <div class="box">  
        <!-- <h2 class="mt-4">QR CODE GENERATOR</h2> -->
        <img height="150%" width="150%" src=<%=qr_code %> alt="QR Code">
            <br>
            <a href="/" role="button" class="btn btn-primary ml-5">Back</a>
    </div>
</body>
</html>